---
const projects = [
    {name: "Nike", tools: [{ name: "React", icon: "fa-brands fa-react" },{ name: "Python", icon: "fa-brands fa-python" },{ name: "MySQL", icon: "fa-solid fa-database"}], img: "/nike.png", url: "https://nike-joaquin.netlify.app/"},
    {name: "Hangman", tools: [{ name: "React", icon: "fa-brands fa-react" }], img: "/hangman.png", url: "https://hangmanjoaquin.netlify.app/"},
    {name: "Ecommerce", tools: [{ name: "React", icon: "fa-brands fa-react" }], img: "/eco.png", url: "https://joaquin-sanchez-tonani-ecommerce.netlify.app/"}
]
---

<section id="projects" class="content">
    <div class="position" id="projects"></div>
    <h4><i class="fa-solid fa-diagram-project"></i>Projects</h4>
    <section>
        {projects.map(({name,tools,url,img}) => (
            <a target="_blank" href={url}>
                <figure>
                    <img src={img} alt={name} loading="lazy"/>
                    <figcaption>
                        <span>{name}</span>
                        <div style="display: flex; gap:10px;">
                            {tools.map(({name, icon},key) => (
                            <i key={key} className={icon}></i>
                            ))}
                        </div>
                    </figcaption>
                </figure>
            </a>
        ))}
    </section>
</section>

<style>
    a:hover{
        transform: scale(1.1);
        transition: .5s ease;
    }
    a{
        transition: .5s ease;
        flex-basis: 250px;
        overflow: hidden;
    }
    section{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        gap: 30px;
    }
    figure{
        margin: 0;
        position: relative;
        background-color: rgba(85, 84, 138, 0.346);
        cursor: pointer;
    }
    figcaption{
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        box-sizing: border-box;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 14px;
    }
    h5{

    }
    .tools{

    }
    img{
        width: 100%;
        height: 350px;
        object-fit: cover;
        opacity: .5;
    }
    .content{
        width: 100%;
        margin: 20dvh 0;
        position: relative;
    }
    .position{
        top: -50px;
    }
    h4{
        color: var(--primary-color);
        font-size: 35px;
        display: flex;
        gap: 15px;
        margin: 20px 0;
    }
    @media (max-width: 980px) {
        img{
        width: 100%;
        height: 300px;

        }
        a:hover{
            transform: scale(1);
        }
    }
</style>